<div class="container p-5" *ngIf="visibilidadeFormulario">
    <div class="row">
        <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="formularioJogo">
            <h6>{{ tituloJogo }}</h6>
            <hr />
            <form [formGroup]="formularioJogo" (ngSubmit)="EnviarFormulario()">
                <div class="form-group">
                    <label>Jogo</label>
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="jogo"
                    />
                </div>
                <div class="form-group">
                    <label>Genero</label>
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="genero"
                    />
                </div>
                <div class="form-group">
                    <label>Ano de lançamento</label>
                    <input
                        type="number"
                        class="form-control form-control-sm"
                        formControlName="ano_lancamento"
                    />
                </div>
                <div class="form-group">
                    <label>Empresa</label>
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="empresa"
                    />
                </div>
                <div class="container">
                    <div class="row">
                        <div>
                            <button type="submit" class="btn btn-sm btn-outline-secondary">
                                Salvar
                            </button>
                        </div>
                        <div class="pl-1">
                            <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container p-5" *ngIf="visibilidadeTabela">
    <div class="border border-light rounded p-5">
        <div>
            <button
                type="button"
                class="btn btn-sm btn-secondary"
                (click)="ExibirFormularioCadastro()"
            >
                Novo Jogo
            </button>
        </div>
        <hr />
        <table class="table table-striped table-hover table-sm" *ngIf="jogos">
            <tr class="thead light">
                <th>Jogo</th>
                <th>Genero</th>
                <th>Ano de lançamento</th>
                <th>Empresa</th>
                <th>Ações</th>
            </tr>

            <tr *ngFor="let jogo of jogos">
                <td>{{ jogo.jogo }}</td>
                <td>{{ jogo.genero }}</td>
                <td>{{ jogo.ano_lancamento }}</td>
                <td>{{ jogo.empresa }}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info" (click)="ExibirFormularioAtualizacao(jogo.game_id)">Atualizar</button> |
                    <button type="button" class="btn btn-sm btn-outline-danger">Excluir</button>
                </td>
            </tr>
        </table>
    </div>
</div>
